package ${packageName}.mapper;

import com.mybatisflex.core.BaseMapper;
import ${packageName}.domain.${subClassName};
#if($table.dataSource && $table.dataSource != 'MASTER')
import com.mybatisflex.annotation.UseDataSource;
#end

/**
 * ${subTable.functionName}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
#if($table.dataSource && $table.dataSource != 'MASTER')
@UseDataSource("${table.dataSource}")
#end
public interface ${subClassName}Mapper extends BaseMapper<${subClassName}>
{
    // 遵循MyBatis-Flex规范，保持Mapper接口简洁，复杂查询在Service层实现
}